@font-face {
  font-family: 'Eurostile';
  src:  url('eurostile-lt-std.woff') format('woff'),url('eurostile-lt-std-oblique_16312.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

html body{
  font-family: EurostileNext,Eurostile,Eurostile LT Std,Arial,Verdana,san-serif;
}

.L-Header{
  background: #000;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 56px;
}
.Dbrand-logo{
  height: 22px;
  padding:0 30px;
}
.Header-Icons{
  width: 23px;
  padding-top: 5px;
}

.Product-Title{
  margin: 0 auto;
  padding: 0 8%;
  background: #dbdbdd;
  font-size: 1em;;
}

.Product-Title .inner{
  display: block;
  margin: 0 auto;
  padding: .4em 0;
  text-align: center;
  font-size: 1.8em;
  font-weight: 100;
  color: #222;
}

.Phone-Picker::before{
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 1em 2em 0;
  border-color: transparent;
  -webkit-transform: rotate(1turn);
  position: absolute;
  top: 0%;
  left: 50%;
  margin-left: -2em;    
  border-color: #dbdbdb transparent transparent;
}

.Inner-Phone-Image{
  z-index: 10;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(0px 15px 10px #000);
}
.Phone-Picker{
  position: relative;
  background: #0c0c0c; 
}
.Sidebar{
  left: 0;
  height:100%;
  position: absolute;
  margin-left:60%;
  width: 40%;
  z-index: 3;
  background: #ffbb00;
  transform:  translateX(calc(100% + 100px));
  transition: all 500ms;
  transition-timing-function: cubic-bezier(.90,.28,.23,.99);
}
.Camera-Area{
  position: absolute;
  width: 90%;
  margin: 0 5%;
  top:4.58333%;
  height: 15.83333%;
}

.Camera-Skin{
  right: auto;
  left: 10.38136%;
  position: absolute;
  width:49.15254%;
  height: 100%;
  z-index: 10;
}

.Camera-Skin:hover{
  
}

.Camera-Skin-Image{
  width: 100%;
}
.Sidebar-Triangle{
  position: absolute;
  left:0px;
  content: "";
  border-style: solid;
  border-width: 0 0 667px 0px;
  border-color: transparent transparent #ffbb00 transparent;
  pointer-events: none;
  transition: 350ms all;
  transition-delay: 150ms;
}

.Sidebar-Triangle.Active{
  left:-150px;
  border-width: 0 0 667px 150px;
}
.Sidebar.Active{
  transform:  translateX(0%);
}
.Skin-Catagories{
  position: absolute;
  right: 15px;
  bottom: 50px;
  width:130%;
  height: 40%;
  -ms-overflow-style: none;
}


.Skin-Catagories::-webkit-scrollbar { width: 0 !important }
.Catagories-Padding{
  display:flex;
  flex-wrap: wrap;
}
.Catagory-Wrapper{
  width: 33%;
  margin-bottom: 10px;
}

.Catagory-Triangle{
  position: absolute;
  z-index: -1;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #dbdbdb transparent;
  opacity: 0;
  transition: 200ms opacity;
}
.Catagory-Triangle.Active{
  z-index: 10;
  opacity: 1;
}

.Catagory-Wrapper h5{
  margin: 0;
  text-align: center;
}
.Catagory{
  background: #dbdbdb;
  border-radius: 20px;
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  opacity: 0;
  left:0;
  z-index: -1;
  transition: 200ms opacity;
}

.Catagory.Active{
  opacity: 1;
  z-index: 15;
}

.Skin-Type-Selector{
  width: 130%;
  position: absolute;
  bottom: calc(50px + 40%);
  margin-bottom: 20px;
  right: 15px;
  display: flex;
  justify-content: center;
}
.Skin-Type-Wrapper{
  background: #222;
  padding: 7px;
  display: flex;
  justify-content: center;
}
.Skin-Type-Button{
  width:80px;
  height:40px;
  background: #080808;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffbb00;
  transition: 200ms all;
}
.Skin-Type-Button div{
  margin: 0;
}
.Skin-Type-Button:hover{
  background: #ffbb00;
  color: #080808;
  font-weight: bold;
}

input[type="radio"]:checked+label{
  background: #eeeef0;
  color: #080808;
  font-weight: bold;
}

.Catagory-Button-Screen-Overlay{
  cursor: pointer;
  position: absolute;
  top:-150%;
  left:-85%;
  height: 300%;
  width:200%;
  z-index: -1;
  visibility: hidden;
  transition: 300ms all;
  background: rgb(0, 0, 0);
  opacity: 0;
}

.Catagory-Button-Screen-Overlay.Active{
  visibility: visible;
  z-index: 10;
  opacity: .5;
}

input[type="radio"] {
  opacity: 0;
  position: absolute;
  left: -9999px
}

input[type="radio"]:checked ~ .Circle-Select {
  z-index: 0;
  opacity: 1;
  height: 54px;
  width: 54px;
  border: solid 2px #FAFAFAFA;
  box-shadow: 0 0 6px 5px rgba(250,250,250,.75) inset;
}

.Skin-Button{
  margin: 7px 10px;
  width:40px;
  height:40px;
  background-repeat: repeat;
  background-position: center;
  border: solid #dbdbdb 1.5px;
  border-radius: 50%;
  -webkit-filter: drop-shadow(5px 5px 5px #000);
  filter: drop-shadow(1px 2px 1px rgba(0, 0, 0, .65));
  transition: 200ms all;
}

.Skin-Button:hover{
  width: 44px;
  height: 44px;
  margin: 5px 8px
}

.Skin-Button.active,.Skin-Button.active:hover{
  width: 40px;
  height: 40px;
  margin: 7px 10px
}
.Button-Wrapper{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.Catagory-Content{
  display:inline-flex;
  flex-wrap: wrap;
}
.Circle-Select{
  position: absolute;
  height: 0px;
  width: 0px;
  pointer-events: none;
  border-radius: 50%;
  border: solid 1px #FAFAFAFA;
  opacity: 0;
  transition: 300ms all;
  transition-timing-function: cubic-bezier(.86,.16,.12,1.07);
}


.Product-Options{
  padding: 1.2em 8%;
  background: #222222;
}

.Button{
  font-size: 1.2em;
  background: #ffbb00;
  padding: .8em 1.6em;
  line-height: 1.4em;
  font-weight: 600;
  text-align: center;
  transition: 150ms all;
}
.Button:hover{
  background: #000000;
  cursor: pointer;
  color: #ffbb00;
}

.Product-Options .Label{
  position: relative;
  
  margin: 0;
  border: 0;
  padding: 0 .6em .5em;
  font-size: .9em;
  font-weight: 200;
  text-transform: lowercase;
  letter-spacing: .05em;
  color: #a0a0a2;
}
.Product-Options .Label::before{
  content: "";
  position: absolute;
  top: .5em;
  left: 1em;
  width: 28%;
  height: .4em;
  border-width: .1em;
  border-style: solid none none solid;
  border-color: #3b3b3b;
  background: none;
}
.Product-Options .Label::after{
  
  content: "";
  position: absolute;
  top: .5em;
  width: 28%;
  height: .4em;
  border-width: .1em;
  border-color: #3b3b3b;
  background: none;

  left: auto;
  right: 1em;
  border-style: solid solid none none;
}

/*Inner phone is for the image of the phone inside the virtual phone*/
.Inner-Phone{
  cursor: pointer;
  z-index: 4;
  position: absolute;
  padding: 1.7em 0;
  width:84%;
  left:calc(8%);
  transition: all 500ms;
  transition-timing-function: cubic-bezier(.62,.28,.23,.99);
}
.Inner-Phone.Active{
  padding: 0em;
  left: 30%;
  width: 40%;
  transform:translate(0,-25%);
}

.Phone-Wrapper{
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.Phone-Image-Wrapper{
  position: relative;
}

.Phone-Skin{
  position: absolute;
  top:0;
  left: 0;
  width: 100%; 
  overflow: hidden;
}
.Phone-Skin-Image{
  width: 90%;
  margin: auto;
  transition: 400ms all;
}
.Phone-Skin-Image-Prev{
  width: 90%;
  margin: auto;
}
.Phone-Base{
  position: relative;
  width:375px;
  height:667px;
  border: #111111 solid 15px;
  border-top-width: 25px;
  border-bottom-width: 35px;
  border-radius: 25px;
}
.Phone-Base::before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #242424;
  border-radius: 10px;
}

.Phone-Border{
  background-image: linear-gradient(to bottom right, #191b1b, #414345);
  height: 100vh;
  display:flex;
  justify-content: center;
  align-items: center;
}

.App {
  position: relative;
  text-align: center;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  
}
.App::-webkit-scrollbar { width: 0 !important }
.App{ 
  overflow: -moz-scrollbars-none;  
  -ms-overflow-style: none;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  height: 100%;
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Page-Overlay{
  position: absolute;
  z-index: -1;
  opacity: 0;
  background:rgb(0,0,0);
  ;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  transition: 500ms all;
}
.Page-Overlay.Active{
  cursor: pointer;
  opacity: .5;
  z-index: 2;
}